node_modules
.DS_Store
dist
dist-ssr
build
types
*.local
package-lock.json
yarn.lock
yarn-error.log
.history
.vscode
.idea
.pnpm-debug.log
/pnpm-lock.yaml
/packages/e-icon-picker/node_modules/
/packages/e-icon-picker/docs/.vitepress/dest/
/packages/e-icon-picker/lib/
