.e-input {
  display: flex;
  align-items: center;
  position: relative;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;

  .prefix-icon {
    background-color: var(--e-input-prefix-icon-background-color, #f5f7fa);
    color: var(--e-input-color, #909399);
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid var(--e-input-prefix-icon-border-color, #dcdfe6);
    white-space: nowrap;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;

    .e-icon {
      font-size: 16px;
    }
  }

  .suffix-icon {
    height: 100%;
    width: 16px;
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &-inner {
    flex: 1;
    -webkit-appearance: none;
    background-color: var(--e-input-inner-background-color, #fff);
    background-image: none;
    border: 1px solid var(--e-input-inner-border-color, #dcdfe6);
    box-sizing: border-box;
    color: var(--e-input-inner-color, #606266);
    display: inline-block;
    font-size: inherit;
    outline: none;
    padding: 0 23px 0 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    border-radius: 0 4px 4px 0;

    &:focus {
      border-color: var(--e-input-inner-focus-border-color, #409EFF);
    }
  }

  &--large {
    height: var(--e-input-height-large, 40px);
    line-height: var(--e-input-height-large, 40px);
    font-size: var(--e-input-font-size-large, 14px);

    .prefix-icon {
      padding: 0 20px;
    }
  }

  &--small {
    height: var(--e-input-height-small, 24px);
    line-height: var(--e-input-height-small, 24px);
    font-size: var(--e-input-font-size-small, 12px);

    .prefix-icon {
      padding: 0 8px;
    }
  }

  &--default {
    height: var(--e-input-height-default, 32px);
    line-height: var(--e-input-height-default, 32px);
    font-size: var(--e-input-font-size-default, 12px);

    .prefix-icon {
      padding: 0 12px;
    }
  }

  .is-disabled {
    cursor: not-allowed;
    background-color: var(--e-input-inner-disabled-background-color, #f5f7fa);
    border-color: var(--e-input-inner-disabled-border-color, #dcdfe6);
    color: var(--e-input-inner-disabled-color, #c0c4cc);
  }
}
