.e-icon-picker {

  &-icon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      width: var(--e-icon-picker-icon-list-width, 30px);
      height: var(--e-icon-picker-icon-list-width, 30px);
      margin: var(--e-icon-picker-icon-list-margin, 5px);

      i, svg {
        font-size: var(--e-icon-picker-icon-list-font-size, 20px);
        cursor: pointer;
      }
    }

    &::after {
      content: '';
      flex: auto;
    }
  }

  &-no-data {
    display: block;
    text-align: center;
  }
}

